#grid {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#search {
  margin: 20px;
}
#search span {
  font-size: 18px;
  font-weight: bold;
  color: orangered;
  padding: 10px;
}
#search input {
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  color: dimgray;
  border: solid 2px orangered;
}
::placeholder {
  color: lightgray
}

.selectedRow {
  background-color: #F0F8FF;
  border-bottom: solid thin blue
}
.row {
  border: solid thin white;
  cursor: pointer
}
.rightAligned {
  text-align: right;
  width: 20%;
}
.leftAligned {
  width: 40%;
  text-align: left;
  font-weight: bold;
}
#summary-table {
  width: 550px;
  height: 520px;
}
#summary-table .table-header th {
  width: 20%;
}
#summary-table .table-header th:first-child {
  width: 40%;
}
